.veilarbvedtaksstottefs {

	.begrunnelse-felt {
		.textarea__container {
			position: unset;
			margin-bottom: 0.5rem;

			.textarea--medMeta__teller {
				width: 200px;
				right: 8px;
				bottom: -30px;
				left: unset;
			}
		}
	}

	.begrunnelse__tekstomrade {
		min-height: 670px;
		max-height: 670px;
		overflow-y: auto;
	}

	.begrunnelse-for-langt-varsel {
		margin: 1rem 0;
	}
}
