
.veilarbvedtaksstottefs {

	.hovedmal {
		.skjemaelement {
			margin-bottom: 0;
			padding: 0.5rem 0;
		}
	}

	.hovedmal-info {
		margin: 1.5rem 0;
		animation: linear 0.25s hovedmal-info-fade-in;

		&__tekst {
			animation: linear 0.25s hovedmal-info-innhold-fade-in;
		}

		.alertstripe__ikon {
			animation: linear 0.25s hovedmal-info-innhold-fade-in;
		}
	}

	@keyframes hovedmal-info-fade-in {
		0% {
			height: 0;
		}
		75% {
			height: 24px;
		}
	}

	@keyframes hovedmal-info-innhold-fade-in {
		0% {
			opacity: 0;
		}
		25% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
