@import "../../../node_modules/nav-frontend-core/less/_variabler";
.veilarbvedtaksstottefs {

	.skjema {
		margin: 1rem auto 0 auto;

		&__tilbakeknapp {
			color: @navBla;
			text-decoration: none;
			font-family: Source Sans Pro, Arial, sans-serif;
			padding: 0;

			&--chevron {
				margin-bottom: 0.25rem;
			}
		}

		&__tittel {
			margin-bottom: 2rem;
		}

	}

}
