.veilarbvedtaksstottefs .begrunnelse__infoboks {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.veilarbvedtaksstottefs .begrunnelse__infoboks .felt-header__lenke {
	margin-left: 0;
}

.veilarbvedtaksstottefs .begrunnelse__infoboks .begrunnelse__read-more {
	margin-bottom: 1rem;
}

.veilarbvedtaksstottefs .begrunnelse textarea {
	white-space: break-spaces;
}

.veilarbvedtaksstottefs .begrunnelse__malform {
	text-align: end;
	margin-top: -1.25rem;
}

.veilarbvedtaksstottefs .begrunnelse-for-langt-varsel {
	margin: var(--a-spacing-2) 0 0;
}

.veilarbvedtaksstottefs .spraksjekk-felt #skriverad-liste {
	margin: 0;
}

.veilarbvedtaksstottefs .spraksjekk-felt .mt-4 {
	margin-top: 1rem;
}

.veilarbvedtaksstottefs .spraksjekk-felt .mb-4 {
	margin-bottom: 1rem;
}
