.veilarbvedtaksstottefs .system-melding {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	width: 90%;
	margin: 0 auto;
}

.veilarbvedtaksstottefs .system-melding__separator {
	height: 1px;
	background-color: var(--ax-border-neutral-subtle);
	margin: auto 0.5rem;
}
