.veilarbvedtaksstottefs .page {
	min-height: 100%;
	padding: 2rem 1rem 6rem 1rem;
}

@media (min-width: 39.5rem) {
	.veilarbvedtaksstottefs .page {
		padding: 2rem 0 6rem;
	}
}

.veilarbvedtaksstottefs .page .page--white {
	background-color: white;
}

.veilarbvedtaksstottefs .page .page__content {
	margin: 0 auto;
	max-width: 75rem;
}
