@import "~nav-frontend-core/less/_variabler";

.veilarbvedtaksstottefs {

	.utkast-side {
		display: flex;
		flex-direction: column;

		width: 100%;

		&__utkast {
			margin: 2rem 1rem 4rem 1rem;
			max-width: 992px;
			background-color: white;
		}

		@media (min-width: 1024px) {
			&__utkast {
				margin: 2rem auto 4rem auto;
			}
		}

	}

}
