.veilarbvedtaksstottefs {

	.hovedside {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		> * {
			width: 49%;
		}

		.vedtak-paneler {
			> :last-child {
				margin-top: 1rem;
			}
		}
	}

}
