
 /*TODO: Denne må oppdateres med nye designsystemet*/
.veilarbvedtaksstottefs .pdfvisning {
	background-color: var(--ax-neutral-900);
}

.veilarbvedtaksstottefs .pdfvisning__feedback-container {
	padding-top: var(--ax-space-80);
	width: 800px;
	height: 2264px;
}

.veilarbvedtaksstottefs .pdfvisning__feedback-container .pdfvisning__spinner {
	margin: 0 auto;
	display: block;
}

.veilarbvedtaksstottefs .pdfvisning__header {
	display: flex;
	justify-content: center;
	background-color: #1d1d1d;
	color: white;
	padding: 0.5rem 0;
	position: sticky;
	top: 0;
	z-index: 300;
}

.veilarbvedtaksstottefs .pdfvisning__document {
	width: 800px;
	margin: 2rem auto 0 auto;
	padding-bottom: 6rem;
}

.veilarbvedtaksstottefs .pdfvisning__document > *:not(:last-child) {
	margin-bottom: 0.5rem;
}

.kun_til_print {
	display: none;
}

@media print {
	@page {
		size: A4 portrait;
		margin: 64px 64px 74px;
	}

	p {
		margin: inherit;
	}

	.kun_til_print {
		display: inherit;
		width: 800px;
		margin: 2rem auto 0 auto;
		padding-bottom: 6rem;
	}

	.skjul_ved_print {
		display: none;
	}
}
