.veilarbvedtaksstottefs .vedtak-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: start;
	gap: var(--a-spacing-4);
	padding: 0.75rem 1rem;
	background-color: var(--a-surface-default);
	border: 1px solid var(--a-border-default);
	border-radius: var(--a-border-radius-large);
	width: max(20rem, 80vw);
}

.veilarbvedtaksstottefs .vedtak-panel:hover {
	cursor: pointer;
	border: 1px solid var(--a-surface-action-hover);
	box-shadow: var(--a-shadow-small);
}

.veilarbvedtaksstottefs .vedtak-panel:focus {
	box-shadow: var(--a-shadow-focus);
}

.veilarbvedtaksstottefs .vedtak-panel__bilde {
	width: 1.625rem;
	height: 2.25rem;
}

.veilarbvedtaksstottefs .vedtak-panel__dato {
	margin-left: auto;
}

.veilarbvedtaksstottefs .vedtak-panel__chevron {
	height: 1.5rem;
	width: 1.5rem;
}

@media (min-width: 37.5rem) {
	.veilarbvedtaksstottefs .vedtak-panel {
		width: 36rem;
	}
}
