@import "~nav-frontend-core/less/_variabler";

.veilarbvedtaksstottefs {

	.utkast-panel {
		border-radius: 8px;
		box-shadow: none;
		border: 4px solid @navBla;

		&__dato {
			margin-bottom: 0.25rem;
		}
	}

}
