.veilarbvedtaksstottefs-varsel-modal {
  .ReactModal__Content {
    overflow: visible;
    width: 448px;
    padding: 0 1rem;
    text-align: center;
    font-family: Source Sans Pro, Arial, sans-serif;
  }

  .varsel-modal__ikon {
    margin-top: -2rem; //placerar en ikon med størrelsen 64x64 i mitten
  }

  .varsel-modal__innehold {
    padding: 2rem 3rem;
  }

  .varsel-modal__knapper {
    width: 60%;
    margin: 1.5rem auto 0 auto;
    display: flex;
    flex-direction: column;

    > *:not(:first-child) {
      margin-top: 0.75rem;
    }
  }

}
