.veilarbvedtaksstottefs .felt-header {
	display: flex;
	margin-bottom: 1rem;
}

.veilarbvedtaksstottefs .felt-header__tittel {
	margin-right: 1rem;
}

.veilarbvedtaksstottefs .felt-header__lenke {
	margin-left: auto;
	font-size: var(--a-font-size-medium);
}
