.veilarbvedtaksstottefs {
	.felt-header {
		display: flex;
		flex-direction: row;
		margin-bottom: 1rem;

		&__tittel {
			margin-right: 1rem;
		}

		&__lenke {
			margin-left: auto;
			display: inline-flex;
			align-items: center;
			gap: 0.25rem;
		}
	}
}
