@import '~nav-frontend-core/less/_variabler';
@import '../../../variabler';

.veilarbvedtaksstottefs {
	.dialog-section-minified {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		padding: 0.5rem;

		&__dialog-img {
			width: 24px;
			height: 24px;

			margin: 1rem auto 0 auto;
		}
	}

	.dialog-section__toggle_btn {
		height: 100%;
		width: 100%;
		border-radius: 0;

		svg {
			width: 2rem;
			height: 2rem;
		}
	}

	.dialog-section-header-minified {
		height: 64px;
		border-bottom: 1px solid @navGra40;
	}
}
