@import "~nav-frontend-core/less/_variabler";

.veilarbvedtaksstottefs {

	.legg-til-kilde {
		display: flex;
		width: 100%;
		border: none;
		background-color: transparent;
		padding: 1rem 0.5rem;
		cursor: pointer;
		border-top: 1px solid @navGra60;

		&__tekst {
			margin-left: 1.25rem;
		}

	}

	.legg-til-kilde:focus {
		box-shadow: 0 0 0 3px #254b6d;
	}

}
