.veilarbvedtaksstottefs .ingen-tidligere-vedtak-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border: 2px solid var(--a-border-default);
	border-radius: var(--a-border-radius-large);
}

.veilarbvedtaksstottefs .ingen-tidligere-vedtak-panel__bilde {
	width: 130px;
	height: 90px;
	margin-bottom: 1rem;
}

.veilarbvedtaksstottefs .ingen-tidligere-vedtak-panel__tittel {
	margin-bottom: 0.5rem;
}
