.veilarbvedtaksstottefs .ingen-gjeldende-vedtak-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border: 2px solid var(--ax-border-neutral-subtle);
	border-radius: var(--ax-radius-8);
}

.veilarbvedtaksstottefs .ingen-gjeldende-vedtak-panel__bilde {
	width: 8.125rem;
	height: 5.625rem;
	margin-bottom: 1rem;
}
