.veilarbvedtaksstottefs {

	.dialog {
		background-color: white;
		border-radius: 4px;

		display: flex;
		flex-direction: column;
		height: 100%;

		.meldinger {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			flex-basis: auto;
			overflow-y: auto;
		}

		.skrivefelt {
			flex-shrink: 1;
		}
	}
}