@import "../../../../../../node_modules/nav-frontend-core/less/_variabler";

.veilarbvedtaksstottefs {

	.melding {
		border-radius: 4px;
		width: 60%;
		padding: 0.5rem;
	}

	.melding--fra-meg {
		background-color: @navBla;
		color: white;
	}

	.melding--til-meg {
		background-color: @navLysGra;
	}

	.melding--system {
		background-color: @navGronnLighten40;
	}

}