.veilarbvedtaksstottefs .forhandsvisning__utsending-varsel svg {
	margin: auto 0;
}

.veilarbvedtaksstottefs .forhandsvisning__footer {
	padding: var(--ax-space-8) 0;
}

.veilarbvedtaksstottefs .forhandsvisning__aksjoner {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto 0;
}

.veilarbvedtaksstottefs .forhandsvisning__aksjoner > :last-child {
	margin-left: 2rem;
}
