@import "~nav-frontend-core/less/_variabler";

.veilarbvedtaksstottefs {

	.page-vedtaksskjema {
		padding-top: 0;
	}

	.vedtakskjema {
		padding: 0;
		width: 100%;
		border: none;

		&__footer {
			padding: 0.75rem 0;
			width: 82%; // TODO: THIS MUST BE REMOVED
		}

	}

	.vedtakskjema-side {
		display: flex;
		max-width: 100%;
	}

}
