@import "~nav-frontend-core/less/_variabler";

.veilarbvedtaksstottefs {

	.vedtakskjema {
		padding: 0;
		width: 100%;

		&__footer {
			padding: 0.75rem 0;
		}

	}

	.vedtakskjema-side {
		display: flex;
		max-width: 1600px;
		margin: 0 1rem;
	}

	@media (min-width: 1632px) {
		.vedtakskjema-side {
			margin: 0 auto;
		}
	}
}
