.veilarbvedtaksstottefs .innsatsgruppe__alertstripe {
	margin: 1rem 0;
	animation: linear 0.25s info-fade-in;
}

@keyframes info-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.innsatsgruppe__aapvarsel {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    margin-left: 2rem;

    /* Gjør den smalere enn full bredde */
    max-width: 46rem; /* juster etter behov */
}