.veilarbvedtaksstottefs .innsatsgruppe__alertstripe {
	margin: 1rem 0;
	animation: linear 0.25s info-fade-in;
}

@keyframes info-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.innsatsgruppe__aapvarsel {
    margin-bottom: var(--ax-space-8);
    margin-left: var(--ax-space-28);
}