.veilarbvedtaksstottefs .tilbakemelding-ekspanderbartpanel__heading .navds-expansioncard__header-content {
	display: flex;
	gap: var(--a-spacing-8);
}

.veilarbvedtaksstottefs .tilbakemelding-ekspanderbartpanel__bilde {
	width: var(--a-spacing-10);
	height: var(--a-spacing-10);
	align-self: center;
}

.veilarbvedtaksstottefs .tilbakemelding-ekspanderbartpanel__tilbakemelding {
	margin-top: var(--a-spacing-6);
}

.veilarbvedtaksstottefs .tilbakemelding-ekspanderbartpanel__tilbakemelding--valg-ja svg {
	color: var(--a-green-600);
	height: var(--a-spacing-8);
	width: var(--a-spacing-8);
}

.veilarbvedtaksstottefs .tilbakemelding-ekspanderbartpanel__tilbakemelding--valg-nei svg {
	color: var(--a-red-600);
	height: var(--a-spacing-8);
	width: var(--a-spacing-8);
}
