.veilarbvedtaksstottefs .skjema-header {
	position: sticky;
	top: 0;
	z-index: 2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow-y: visible;
	background-color: var(--a-blue-100);
	border-bottom: 3px solid var(--a-blue-500);
	height: var(--veilarbvedtaksstottefs-utkast-og-dialog-header-height);
}

.veilarbvedtaksstottefs .skjema-header__ikon {
	margin: auto 0 auto 2rem;
	height: 2.5rem;
	width: 2.1875rem;
}

.veilarbvedtaksstottefs .skjema-header__innhold {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-left: 1rem;
	width: 100%;
}

.veilarbvedtaksstottefs .skjema-header__info {
	display: flex;
	flex-direction: row;
	margin-left: 2rem;
}

.veilarbvedtaksstottefs .skjema-header__info .separator {
	margin-left: 1rem;
	margin-right: 1rem;
}

.veilarbvedtaksstottefs .separator {
	height: 1rem;
	width: 0.0625rem; /* 1px som rem, sidan det er typografi-relevant */
	margin-top: auto;
	margin-bottom: auto;
	background-color: var(--a-border-strong);
}
