.veilarbvedtaksstottefs .vedtakstottepanel {
	background-color: white;
	border-radius: var(--ax-radius-8);
}

.veilarbvedtaksstottefs .vedtakstottepanel__tittel {
	padding: var(--ax-space-16) var(--ax-space-20);
	border-bottom: 1px solid var(--ax-border-neutral-subtle);
}

.veilarbvedtaksstottefs .vedtakstottepanel__content {
	display: grid;
	grid-template-columns: 0.5fr 1.5fr;
	padding: var(--ax-space-32) var(--ax-space-48) var(--ax-space-32) var(--ax-space-32);
}

.veilarbvedtaksstottefs .vedtakstottepanel__content .vedtakstottepanel__ikon {
	width: 6.25rem;
	height: 6.25rem;
}
