.veilarbvedtaksstottefs {

	.melding-liste {
		display: flex;
		flex-direction: column;
		padding: 1rem 0.75rem 0 0.75rem;

		> .melding, .melding-wrapper {
			margin-bottom: 1rem;
		}
	}

	.melding-wrapper {
		display: flex;
	}

	.melding-wrapper--fra-meg {
		justify-content: flex-end;
	}

	.melding-wrapper--til-meg {
		justify-content: flex-start;
	}

	.melding-wrapper--system {
		justify-content: center;
	}
}