@import "~nav-frontend-core/less/_variabler";

.veilarbvedtaksstottefs {
	.begrunnelse {
		display: grid;
		grid-column-gap: 2rem;
		grid-template-columns: 0.65fr 0.35fr;
		grid-template-rows: auto auto;
		grid-row-gap: 1rem;

		textarea {
			overflow-y: auto;
		}

		&__container {
			.skjemaelement__label {
				margin-bottom: 0;
			}

			.skjemaelement__input {
				min-height: 670px;
				max-height: 670px;
				font-family: Source Sans Pro, Arial, sans-serif;
				font-size: 1rem;
			}
		}
	}

	.innsats-hjelpetekst {
		margin-bottom: 1rem;
	}

}
