@import "../../../../node_modules/nav-frontend-core/less/_variabler";
.veilarbvedtaksstottefs {
	.begrunnelse {
		display: grid;
		grid-template-columns: 0.7fr 0.3fr;
		grid-column-gap: 1rem;
		.textarea__container {
			.skjemaelement__input {
				min-height: 33rem;
			}
		}

	}
}
