
.veilarbvedtaksstottefs {

	.sidebar__wrapper {
		position: relative;
	}

	.sidebar {
		position: sticky;
		top: 64px; // the height of SkjemaHeader
		background-color: white;
		box-shadow: 0px 10px 14px 0px rgb(182, 182, 182);
		z-index: 1;

		&__content {
			height: 100%;
		}

		&__tab {
			display: block;
			background-color: white;
			border-radius: 8px 0 0 8px;
			box-shadow: 0 10px 14px 0 rgba(182, 182, 182, 0.5);
			height: 64px;
			width: 64px;

			cursor: pointer;
		}

		&__tab-ikon {
			width: 36px;
			height: 36px;

			margin: auto;
		}

		&__tab--selected {
			background-color: lightgray;
		}

		&__tabs {
			position: absolute;
			margin-top: 2rem;
			left: -64px;

			> * {
				margin-bottom: 0.5rem;
			}
		}



	}

}