.veilarbvedtaksstottefs .mock-panel {
	position: absolute;
	top: var(--ax-space-48);
	right: var(--ax-space-4);
	z-index: 500;
}

.veilarbvedtaksstottefs .mock-panel__apne-knapp {
	padding: var(--ax-space-8) var(--ax-space-16);
	border-radius: var(--ax-radius-full);
}

.veilarbvedtaksstottefs .mock-panel__innhold {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
