@import "../../../node_modules/nav-frontend-core/less/_variabler";
.veilarbvedtaksstottefs {

	.skjema {
		margin: 0 auto;
		&__topp {
			display: flex;
			justify-content: flex-end;
		}
		&__tilbakeknapp {
			color: @navBla;
			text-decoration: none;
			font-family: Source Sans Pro, Arial, sans-serif;
			padding: 0;
			margin: 1.25rem 0;

			&--chevron {
				margin-bottom: 0.25rem;
			}
		}

		&__tittel {
			margin-bottom: 2rem;
			margin-top: 0.875rem;
		}

	}

}
