.veilarbvedtaksstottefs {
	.vedtaksstotte-footer {
		position: fixed;
		left: 0;
		bottom: 0;
		background-color: white;
		width: 100%;
		padding: var(--a-spacing-2) 0;
		box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
	}
}
