.veilarbvedtaksstottefs {
	.vedtaksstotte-footer {
		position: sticky;
		bottom: -13rem;
		background-color: white;
		width: 100%;
		padding: var(--a-spacing-2) 0;
		box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
		height: 16rem;
	}
}
