@import "../../../node_modules/nav-frontend-core/less/_variabler";

.veilarbvedtaksstottefs {

	.vedtakskjema-visning {

		.begrunnelse-visning {
			width: 60%;
		}

		.oyblikksbilde-lenke {
			padding: 0;
			border: none;
			background-color: transparent;
			margin-left: 7rem;
		}

	}
}
