@import "~nav-frontend-core/less/_variabler";
@import "~nav-frontend-core/less/_mixins";
@import "~nav-frontend-core/less/utilities";
@import "~nav-frontend-core/less/hide-text";

.veilarbvedtaksstottefs, .veilarbvedtaksstottefs-modal {

	* {
		box-sizing: border-box;
	}

	.knapp__no-style {
		background-color: transparent;
		border: none;
	}

	.alertstripe--info {
		border: 1px solid #66CBEC;
		background-color: #e0f5fb;
	}

	.alertstripe--advarsel {
		border: 1px solid #FF9100;
		background-color: #ffe9cc;
	}

	.vedtaksstotte-alert {
		width: 600px;
		margin: 3rem auto 0 auto;
	}

	.btn--ml3 {
		margin-left: 3rem;
	}

	.btn--mr3 {
		margin-right: 3rem;
	}

	.label {
		font-weight: bold;
		margin-right: 0.3rem;
	}

	.btn--lenke {
		font-family: Source Sans Pro, Arial, sans-serif;
		font-size: 1rem;
		background-color: white;
		line-height: 1.375rem;
		color: @navBla;
		font-weight: 600;
	}

	.btn--lenke:hover {
		border: none;
		text-decoration: underline;
		background-color: white;
		color: @navBla;
	}

	@media (max-width: 1232px) {
		margin: 0 1rem;
	}

}
