@import '@navikt/ds-css' layer(aksel);

.veilarbvedtaksstottefs {
	/* Veilarbpersonflatefs setter display: flex på elementet ovenfor slik at vi kan bruke den resterende høyden */
	flex-grow: 1;
	background-color: var(--ax-bg-neutral-soft);

	--veilarbvedtaksstottefs-footer-height: 3rem;
	--veilarbvedtaksstottefs-utkast-og-dialog-header-height: 4rem;
}


