@import '~nav-frontend-core/less/_variabler';
@import '~nav-frontend-core/less/_mixins';
@import '~nav-frontend-core/less/utilities';
@import '~nav-frontend-core/less/hide-text';
@import '@navikt/ds-css';

.veilarbvedtaksstottefs {
	// Veilarbpersonflatefs setter display: flex på elementet ovenfor slik at vi kan bruke den resterende høyden
	flex-grow: 1;
	background-color: #f4f4f4;
}

.veilarbvedtaksstottefs,
.veilarbvedtaksstottefs-modal {
	* {
		box-sizing: border-box;
	}

	.text--grey {
		color: @navGra60;
	}

	.vedtaksstotte-alert {
		width: 600px;
		margin: 3rem auto 0 auto;
	}

	.btn--ml3 {
		margin-left: 3rem;
	}

	.btn--mr3 {
		margin-right: 3rem;
	}

	.btn--lenke {
		font-size: 1rem;
		background-color: white;
		line-height: 1.375rem;
		color: @navBla;
		font-weight: 600;
	}

	.btn--lenke:hover {
		border: none;
		text-decoration: underline;
		background-color: white;
		color: @navBla;
	}

	.inputPanel__field:checked:disabled + .inputPanel__label:before {
		background-color: @navGra40;
		border-color: @navGra40;
	}

	// Overskriv gammel styling som blir dratt inn fra andre apper
	.alertstripe--inline {
		background-color: unset !important;
		border: none !important;
		padding: 0 !important;
	}
}
