.bekreft-send-vedtak-modal-personinfo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 0.5rem;
	row-gap: 0.1rem;
	margin-top: 1rem;
}

.bekreft-send-vedtak-modal-personinfo .bekreft-send-vedtak-modal-personinfo-copybutton {
	color: var(--ax-text-neutral);
}

.bekreft-send-vedtak-modal-body {
	margin-top: 0.5rem;
}
.bekreft-send-vedtak-modal-varsel-tekst {
    margin-top: var(--ax-space-8);
}