.veilarbvedtaksstottefs .nytt-vedtak-panel {
	border: 2px dashed var(--a-border-default);
}

.veilarbvedtaksstottefs .nytt-vedtak-panel .vedtakstottepanel__buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}
