@import '../../../../../../node_modules/nav-frontend-core/less/_variabler';

.veilarbvedtaksstottefs {
	.vis-kilde {
		display: flex;
		justify-content: space-between;

		.skjemaelement__label:before {
			width: var(--a-spacing-5);
			height: var(--a-spacing-5);
		}

		.skjemaelement__label {
			padding-left: var(--a-spacing-11);
		}

		.skjemaelement {
			margin-bottom: 0;
			padding: var(--a-spacing-2) 0;
		}

		&__rediger-ikon {
			padding: var(--a-spacing-2);
		}
	}
}
