.veilarbvedtaksstottefs .vis-kilde {
	display: flex;
	justify-content: space-between;
	word-break: break-word;
}

.veilarbvedtaksstottefs .vis-kilde__alert {
	margin-left: 2rem;
	margin-bottom: 0.5rem;
}