name: Deploy til Q1
on:
    workflow_dispatch:

jobs:
    build:
        name: Build and Sync Project
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@v1
              with:
                  node-version: '16'
                  cache: 'npm'
            - run: npm ci
            - run: npm run test
            - run: npm run build
              env:
                  PUBLIC_URL: https://veilarbvedtaksstottefs.dev.intern.nav.no
            - uses: google-github-actions/setup-gcloud@master
              with:
                  service_account_key: ${{ secrets.GCS_SA_KEY_DEV }}
                  export_default_credentials: true
            - name: Upload files to GCS
              run: gsutil -m rsync -r build gs://veilarbvedtaksstottefs-dev
