name: Deploy to prod
on:
  workflow_dispatch:
  push:
    branches:
      - main
env:
  CI: true
  TZ: Europe/Amsterdam
jobs:
  deploy-prod:
    name: Deploy application to prod
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # ratchet:actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # ratchet:actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
          registry-url: "https://npm.pkg.github.com"

      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Run tests
        run: npm run test

      - name: Build application
        run: npm run build
        env:
          PUBLIC_URL: https://cdn.nav.no/obo/prod/veilarbvedtaksstottefs/dist

      - name: Upload to Nav CDN
        uses: nais/deploy/actions/cdn-upload/v2@fa754451577294aae42872a69b888b3470478ec1 # ratchet:nais/deploy/actions/cdn-upload/v2@master
        with:
          team: obo
          source: ./dist
          destination: prod/veilarbvedtaksstottefs

      - name: Set special cache for asset-manifest.json
        shell: bash
        run: |
          gcloud storage objects update gs://${BUCKET_NAME}/obo/prod/veilarbvedtaksstottefs/dist/asset-manifest.json --cache-control="public, max-age=120, stale-while-revalidate=1800, stale-if-error=600"

      - name: Create release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # ratchet:softprops/action-gh-release@v2
        with:
          name: Release to prod
          target_commitish: main
          tag_name: release/prod@${{ github.sha }}
          prerelease: false
