name: Poao frontend container prod

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/poao-frontend-container-prod.yaml"
      - ".nais/nais-prod.yaml"
  workflow_dispatch:

concurrency:
  group: poao_frontend_container_prod
  cancel-in-progress: true

jobs:
  deploy-prod:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6
      - name: deploy gcp prod
        uses: nais/deploy/actions/deploy@fa754451577294aae42872a69b888b3470478ec1 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/nais-prod.yaml
